@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import 'sass-components/vars';
@import 'sass-components/reset';
@import 'sass-components/utilities';
@import 'sass-components/diagnostics';
@import 'sass-components/general-mixins';
@import 'sass-components/hamburger';

* {
    font-family: 'Roboto', sans-serif;
}

// Application parts

html {
    height: 100%;
}

body {
    background-color: $primary-bg-color;
    min-height: 100%;
}

.content {
    border: 2px solid red;
}

@import 'sass-components/header-mobile';
@import 'sass-components/main-page';
@import 'sass-components/article';

// div.page {
//     display: grid;
//     width: 100vw;
//     // min-height: 100%;
//     grid-template-areas: "main"
//                          "aside" 
//                          "foot";
//     grid-template-rows: 1fr 1fr auto;
//     //grid-template-columns: auto;   
// }

// aside {
//     grid-area: aside;
//     background-color: red;
// }

// main {
//     grid-area: main;
//     background-color: blue;
// }

// footer {
//     grid-area: foot;
//     background-color: green;
// }

// 768 or more.
@media only screen and (min-width: 768px) {
    @import 'sass-components/header-desktop';

    header .blog-title {
        font-size: 2.8em;
        // color: red;
    }    

    header .search-container {
    }    

    header .tags {
        font-size: 1.4em;
    }

}    

// 1024 or more
@media only screen and (min-width: 1024px) {
    @import 'sass-components/header-desktop';
    header .blog-title {
        // color: green;
    }
}    

@media only screen and (min-width: 1280px) {
    header {
        max-width: 1280px;
    }
}
