body {
    border-top: 6px solid $primary-bg-color;
}

.blog-title {
    grid-area: title;
}

.search-container {
    grid-area: search;
}

.tags {
    grid-area: tags 
}

.avatar {
    grid-area: avatar;
    display: none;
}

header {
    background-color: $secondary-bg-color;
    display: grid;
    grid-template-areas: 
        "title  title"
        "search search"
        "tags    tags"
        "links  links";  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-items: center;

    .hamburger-container {
        outline: none;
        position: absolute;
        left: 10px;
        top: 16px;

        a {
            outline: none;
            color: $primary-bg-color;
        }        
    }
    
    .blog-title {
        padding: .4em 0 .1em 0;
        font-size: 2.4em;
        color: lighten(black, 20%);
    }    

    .search-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-top: .1em;
        padding-bottom: .8em;
        font-size: .9em;
        color: lighten(black, 20%);

        img {
            margin-left: -16px;
            margin-top: 4px;
            cursor: pointer;
        }          

        input {
            font-size: 140%;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            height: 1.5em;
            border: transparent;
        }

        input:focus {
            font-size: 150%;
        }          
    }    

    .links {
        grid-area: links;
        margin-top: .5em;
        background-color: $secondary-dark-bg-color;
        justify-self: stretch;
        overflow: hidden;
        transition: height 500ms ease;
        height: 0;
        color: $text-primary-color;

        .inner-container {
            padding-top: 1em;
            display: grid;
            grid-template-rows: auto;
            align-items: center;    
            justify-self: stretch;
            border-top: 1px solid $primary-bg-color;

            div {
                @include flex-centered-elements;
                justify-self: stretch;            
            }

            a {
                @include flex-centered-elements(column);            
                font-size: 1.2em;
                color: lighten(black, 20%);
                text-decoration: none;
                padding-right: .8em;
            }        

            a:last-child {
                padding-right: 0;
            }
        }        

        .icon-xs {
            height: 2.3em;
            width: 1.1rem;
        }
        .icon-s {
            height: 2.3em;
            width: 1.3rem;
        }
        .icon-m {
            height: 2.3em;
            width: 1.5rem;
        }    
    }        

    .show-links {
        height: 88px;
    }
    
    .tags {
        font-size: 1.1em;
        padding-bottom: .5em;
    }

    .avatar {
        display: none;
    }
}
