

div.page {
    display: grid;
    width: 100vw;
    // height: 100vh;
    grid-template-areas: "main"
                         "aside" 
                         "foot";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;   
}  
  
div.page > div.header-wrapper {
    grid-area: head;
}

div.page > aside {
    grid-area: aside;
    background-color: #ffa08c;
}

div.page > main {
    grid-area: main;
    // background-color: #ffff64;
}

div.page > footer {
    grid-area: foot;
    background-color: #8cffa0;
}

// 1024 or more
@media only screen and (min-width: 1024px) {
    div.page {
        grid-template-areas: "head  head"
                         "aside main"
                         "foot  foot";
        grid-template-rows: auto auto auto;
        grid-template-columns: 300px auto;

        .article-preview {
            font-size: 1.5rem;
        }  

    }      
}    


